<% @page_title = 'Unidentified page request' %>
<% @page_no_ad = true %>

<div class="Description"><h2>404 - Page not found.</h2></div>

<p> <%= @message || 'Requested page was not found.' %></p>
<style type="text/css">
  #goog-wm { }
  #goog-wm h3.closest-match { }
  #goog-wm h3.closest-match a { }
  #goog-wm h3.other-things { }
  #goog-wm ul li { }
  #goog-wm li.search-goog { display: block; }
</style>
<script type="text/javascript">
  var GOOG_FIXURL_LANG = '<%= 'en_GB' %>'; <%# show preferred language of @signed_user. %>
  var GOOG_FIXURL_SITE = @profile_user.kopal_identity;
</script>
<script type="text/javascript"
    src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>

<div style="font-family:Georgia; margin-top:48px;">Singularity counts at Kryzen.</div>