<div class="friend-ribbon">
  <%= image_tag '/home/profile_image/?of=friend-identity' %>
  <span class="name">Vikrant Chaudhary</span>
  <%= link_to "http://its.raining.in/", "http://its.raining.in/" %> <br />
  <blockquote> Still Rolling. </blockquote>
  Male, 20, Bangalore, India (IN) <br />
  <!-- add-as-friend/end-friendship/(friendship-requested)accept/
      (you-requested-for-friendship)cancel -->
  <span class="action">(You requested for friendship) <a>Cancel</a>.</span>
</div>