<div id="<%= dom_id comment %>" style="border-bottom:1px solid gray; padding-top:8px; min-width:80%">
  <%= link_to comment.full_name, comment.website_address, {:title => "Go to #{h comment.full_name}'s homepage."} %>
  (<%= d comment.created_at %>)
  <p><%= comment.comment_text %></p>
</div>
