<h2>Change your password</h2>

<% form_tag do %>
  Please enter you <b>new</b> password -<br />
  <%= password_field_tag :password %> <br />
  Please verify your new password -<br />
  <%= password_field_tag :password_confirmation %> <br />
  <%= submit_tag "Change password" %>
<% end %>