<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title><%= @page.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <meta http-equiv="Content-Language" content="<%= I18n.locale.to_s.upcase %>" />
	  <% if(fclc = KopalPref.feed_country_living_code) %><meta name="geo.country" content="<%= fclc %>" /><% end %>
	  <% if @page.description %><meta name="Description" content="<%= @page.description %>"><% end %>
    
    <% if @page.stylesheets; for stylesheet in @page.stylesheets %>
      <%= stylesheet_link_tag stylesheet[:name] || stylesheet, :media => stylesheet[:media] || 'all' %>
    <% end; end %>
	  
    <%= yield :page_head_meta_content %>
    
  </head>
  
  <body>
    <div id="Surface">
      <div id="SurfaceFront">
        <% if flash[:highlight] -%>
	        <div id="FlashHighlight"><%= flash[:highlight] %></div>
        <% end -%>
        <% if flash[:notice] -%>
          <div id="FlashNotice"><%= flash[:notice] %></div>
        <% end -%>
	        
        <%= @content_for_layout %>
      </div>

      <div id="SurfaceRight">
        <%= yield :surface_right_content %>
      </div>

    </div>
  </body>
</html>
